@import '../../sass/base/variables'

.button
    display: block
    color: #fff
    background: $secondary-c
    padding: 0.3125rem 2.5rem
    border: 2px solid $secondary-c
    transition: 0.25s
    font-weight: 500
    &:hover
        background-color: $primary-c
        border: 2px solid $primary-c
        color: #ffffff
    &--main
        display: inline-block
        font-size: 2rem
        font-weight: 700
    &--w100
        width: 100%
    &--inline
        height: 2.5rem
