@import ../../sass/base/variables

span.input-group-text
    border-radius: 0
    background: #ffffff
    border: none
    background-color: $primary-c
    color: #ffffff
    font-weight: 500

input.my-input
    border-radius: 0
    border: 1px solid $primary-c
    &--w40
        width: 40%

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

input[type=number] 
    -moz-appearance: textfield